/**
 * File styles.css.
 * Contains base styles for exproctor plugin.
 */

.quiz-img-div {
    position: relative;
    display: inline-block;
}

.quiz-img-div:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url([[pix:quizaccess_exproctor|bin]]) center no-repeat;
    background-size: 25px;
}

.quiz-img-div:hover img {
    opacity: 0.1;
}
